<section>
    <center>
        <h2>Welcome!</h2>
        <img src="images/homepage.jpg" alt="Let's go recycle!" style=width:250px;height:200px;">
   
    <p>
        {{#each key}}
        <a href='/'>{{category}}</p>
        {{/each}}
    </p>
     </center>

</section>